* {
    margin: 0px;
    font-family: "Inter";
}

#menuSuperior {
    background-image: url(img/fundo.svg);
    color: aliceblue;
}

#logo {
    margin:  50px 0 0 50px;
}

#titulo-menuSuperior {
    margin: 50px 0 0 150px;
}

#texto-menuSuperior {
    margin: 35px 0 0 150px;
    padding-bottom: 150px;
}

#menuInformacional {
    background: rgba(234, 236, 229, 1);
    display: flex;
    padding: 30px;
}

#escpecificCurso {
    margin: auto;
}

#secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#tituloVideo {
    color: #247BA0;
    margin: 50px 0px 40px;
}

#video {
    margin: 50px 25px 50px 100px;
}

#carrossel {
    background-color: #247BA0;
    padding: 50px;
}

#titulo-carrossel {
     color: white;
     text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}

#cards {
    display: grid;
    grid-auto-flow: column;
}

.card {
    margin-left: 50px;
}